<ion-header>

    <ion-navbar color="primary">
    <ion-title>Online Academy</ion-title>
    <ion-buttons end>
        <button (click)="navigateToPage('QuotePage')" ion-button>
            <ion-icon name="add"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content class="container">
  <ion-list *ngIf="Quotes !== null">
    <ion-item  *ngFor="let quotes of Quotes">

      <div class="w3-panel w3-leftbar w3-light-grey">
          {{quotes.Day}}/{{quotes.Month}}/{{quotes.Year}}
          <p class="w3-xlarge w3-serif">
            <i text-wrap>"{{quotes.Quote}}"</i>
          <p>{{quotes.Auteur}}</p>
          <br>
          
        </div>
      </ion-item>
  </ion-list>
</ion-content>
