.logo {
    margin-top: 10%;
    width: 150px;
    height: 135px;
    display: block;
}
.color {
    background-color: black;
}

.container {
    background-color: #ffff;


}
.container ion-input .placeholder{
    color: red;
}