
<div class="container">
<form #loginForm="ngForm" novalidate>
<div class="inputs">
        
<ion-row><ion-input
    [(ngModel)]="account.email" 
    type="email" 
    placeholder="E-mail" 
    id="email"
     name="email" 
     #email="ngModel" 
     required
     pattern="[a-z0-9!#$%&'*+/=?^_`{\}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{\}~-]+)*@(?:[a-z0-9](?:[a-z0-9]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"></ion-input>
    </ion-row>
    <div *ngIf="email.invalid && email.dirty">
            <span class="global__input-error">Vul een geldig email adres in aub</span>
            </div>
<ion-row><ion-input
    [(ngModel)]="account.password" 
    type="password" 
    placeholder="Wachtwoord" 
    name="password" 
    #password="ngModel" 
    required 
    ></ion-input></ion-row>
</div>
<button ion-button full text-capitalize (click)="login()" id="login" [disabled]="loginForm.invalid">Login</button>
<label class="label1" (click)="navigateToPage('ForgotPasswordPage')">Forgot password</label>
<label class="label2" (click)="navigateToPage('RegisterPage')">Sign up</label>
</form>
</div>
