ion-input {
    text-align: left;
    background-color: hsla(191, 86%, 54%, 0.342);
    color: #2b373a;
    width:100%;
    padding:2px;
    margin-top: 10px;
}
ion-input {
    background-color: #3ec8fa;
    color: white;
}

div .inputs {
    text-align: center;
    align-content: center;
    margin-top: 20%;
}
label{
    color: #22caf4;
}
.label1{
    margin-top: 10px;
    
    text-align: left;
    float: left;

    
}
.label2 {
    margin-top: 10px;
    text-align: right;
    float: right;
}
#login{
    margin-top: 10px;
}

.container {
    background-color: #002137;
}


