page-forgot-password {
    ion-label {
        font-weight: bold;
    }
    .avatar {
        display:block;
        width: 150px;
        height: 150px;
    }
    ion-header {
        background-color:#00b7ff;
    }
    .container {
        background-color: #002137;
    }
}
