page-welcome {

    
    div .buttons {
        
       text-align: center;
    }
    button {
        width: 65%;
        
    }
    button #login {
        background-color:#2A7DE2;
        
    }
    .logo {
        width: 150px;
        height: 135px;
        display: block;
        margin-bottom: 65%;
        margin-top: 25%;
        
    }
}