<ion-header>
    <ion-navbar color="primary">
        <ion-title>
            My cryto journal
        </ion-title>
        <ion-buttons end>
            <button (click)="goToAdd()"ion-button>
                <ion-icon name="add"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content padding class="container">
    <ion-list *ngIf="Notes$ !== undefined">
        <ion-item detail-push *ngFor="let note of Notes$ | async" navPush="EditNotePage" [navParams]="{note: note}">
            {{note.title}}
        </ion-item>
    </ion-list>

    <p *ngIf="Notes$ === undefined">Nog geen notities, voeg een notitie toe.</p>
</ion-content>